Repository Hol1kgmg/react-devtools-ui: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-markup, format

lint-code:
  run: mise x -- pnpm oxlint --type-aware --type-check --fix {staged_files} && mise x -- pnpm eslint --fix {staged_files}
  stage_fixed: true

lint-markup:
  run: mise x -- pnpm markuplint {staged_files} --fix --problem-only
  stage_fixed: true

format:
  run: mise x -- pnpm oxfmt --no-error-on-unmatched-pattern {staged_files}
  stage_fixed: true

feat:vitestを導入。シンプルなパッケージようのUIを実装
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/FloatButton/FloatButton.module.css
  src/components/FloatButton/FloatButton.test.tsx
  src/components/FloatButton/FloatButton.tsx
  src/components/FloatButton/index.ts
  src/index.ts
  src/test-setup.ts
  src/vite-env.d.ts
  vite.config.ts
Due: lint-code, lint-markup, format

ai:claudeのsessions start hookでgit log --oneline -5を登録
  .claude/settings.json
Due: format

refactor:FloatButtonのドラッグロジックをuseDraggableフックに分離
  public/gear.svg
  src/App.tsx
  src/components/FloatButton/FloatButton.module.css
  src/components/FloatButton/FloatButton.test.tsx
  src/components/FloatButton/FloatButton.tsx
  src/hooks/useDraggable.ts
Due: lint-code, lint-markup, format

feat:WebInspectorPanelコンポーネントを追加
  src/App.tsx
  src/components/FloatButton/FloatButton.module.css
  src/components/WebInspectorPanel/ConsolePanel.module.css
  src/components/WebInspectorPanel/ConsolePanel.tsx
  src/components/WebInspectorPanel/NetworkPanel.module.css
  src/components/WebInspectorPanel/NetworkPanel.tsx
  src/components/WebInspectorPanel/WebInspectorPanel.module.css
  src/components/WebInspectorPanel/WebInspectorPanel.tsx
  src/components/WebInspectorPanel/index.ts
  src/hooks/useResizable.ts
  src/index.css
  src/variables.css
Due: lint-code, lint-markup, format

fix:float-buttonの名前をWebInspectorButtonに変更。
  src/App.tsx
  src/components/FloatButton/index.ts
  src/components/WebInspectorButton/WebInspectorButton.module.css
  src/components/WebInspectorButton/WebInspectorButton.test.tsx
  src/components/WebInspectorButton/WebInspectorButton.tsx
  src/components/WebInspectorButton/index.ts
  src/components/WebInspectorPanel/WebInspectorPanel.module.css
  src/index.ts
  src/variables.css
Due: lint-code, lint-markup, format

feat: WebInspectorPanelにConsoleタブを実装
  src/components/WebInspectorPanel/ConsolePanel.module.css
  src/components/WebInspectorPanel/ConsolePanel.tsx
  src/components/WebInspectorPanel/LogEntry.tsx
  src/libs/consoleInterceptor.ts
  src/main.tsx
  src/variables.css
Due: lint-code, lint-markup, format

fix:モバイル対応のレスポンシブ対応
  src/App.css
  src/index.css
Due: none

refactor: WebInspectorのパネル表示制御をContext+Providerパターンに変更
  src/App.tsx
  src/components/WebInspector/WebInspectorContext.tsx
  src/components/WebInspector/WebInspectorProvider.tsx
  src/components/WebInspector/index.ts
  src/components/WebInspector/useWebInspector.ts
  src/components/WebInspectorButton/WebInspectorButton.test.tsx
  src/components/WebInspectorButton/WebInspectorButton.tsx
  src/components/WebInspectorPanel/WebInspectorPanel.tsx
Due: lint-code, lint-markup, format

docs: update README for npm publication
  README.md
Due: format

chore: add npm package metadata
  package.json
Due: format

refactor: convert SVG assets to TSX components
  package.json
  public/gear.svg
  public/vite.svg
  src/components/WebInspectorButton/GearIcon.tsx
  src/components/WebInspectorButton/WebInspectorButton.tsx
Due: lint-code, lint-markup, format

test: update WebInspectorButton test for inline SVG
  src/components/WebInspectorButton/WebInspectorButton.test.tsx
Due: lint-code, lint-markup, format

feat: export all public components and hooks
  .npmignore
  src/index.ts
Due: lint-code, format

fix: correct CSS export path in package.json
  package.json
  pnpm-lock.yaml
Due: format

fix:npm run checkを実行
  README.md
  package.json
  src/components/WebInspectorButton/GearIcon.tsx
Due: lint-code, lint-markup, format

0.1.1
  package.json
Due: format

fix:パッケージ利用時にcssをimport不要に改修
  package.json
  pnpm-lock.yaml
  src/index.ts
Due: lint-code, format

v0.1.2 0.1.2
  package.json
Due: format

feat: embed CSS in JavaScript bundle
  package.json
  pnpm-lock.yaml
  src/App.tsx
  vite.config.ts
Due: lint-code, lint-markup, format

fix: correct SVG icon sizing in WebInspectorButton
  README.md
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/WebInspectorButton/GearIcon.tsx
  src/components/WebInspectorButton/WebInspectorButton.module.css
Due: lint-code, lint-markup, format

fix:version up v.0.1.3
  package.json
Due: format

fix:gaer svgが正常サイズで表示されない問題の改修
  package.json
  pnpm-lock.yaml
Due: format

fix:よりシンプルに使えるようにWebInspectorProviderだけで運用する方針へ改修
  README.md
  package.json
  pnpm-lock.yaml
  src/components/WebInspector/WebInspector.tsx
  src/components/WebInspector/index.ts
  src/index.ts
Due: lint-code, lint-markup, format

Path conditions:
  lint-code: any of: *.{js,ts,jsx,tsx}
  lint-markup: any of: *.{html,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,yml,yaml,md}
